body{
    width: 100%;
    margin: 0;
}
button{
    padding: 12px 20px;
    background-color: #026186;
    color: #FFF;
    border: none;
}
.menu{
    background-color: #026186;
    padding: 8px;
    margin-bottom: 20px;
}
.menu span img{
    width: 50px;
    border-radius: 50%;
}

.menu .pic{
    float: right;
}
.gridCon{
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: 23% 54% 20%;
    gap: 20px;
    vertical-align: top;
}
.grid div{
    box-shadow: 2px 2px  6px gray;
    margin: 20px 0;
}
.gridCon .grid .one{
    padding: 10px;
    text-align: center;
}
.gridCon .grid .one img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.gridCon .grid .one ul{
    border-top: 1px solid #D8D8D8;
    padding: 20px;
    list-style-type: square;
    text-align: left;
}
.gridCon .grid .one ul li{
    font-size: 17px;
    font-weight: 500;
    margin: 15px 0;
}
.gridCon .grid .two{
    background-color: #026186;
    color: #FFF;
    padding: 10px;
}
.gridCon .grid .two p{
    font-size: 17px;
}
.gridCon .grid .two ul{
    display: none;
    background-color: #FFF;
    color: #000;
    list-style-type: none;
    padding: 10px;
}
.gridCon .grid .two span:hover ul{
    display: block;
}
.gridCon .grid .three{
    padding: 10px;
}
.gridCon .grid .three span{
    display: inline-block;
    padding: 5px;
    margin: 5px ;
    background-color: #026186;
    color: #FFF;
}
.gridCon .grid .four{
    padding: 10px;
}
.gridCon .grid .four h3{
    display: inline-block;
}
.gridCon .grid .four .cancel{
    float: right;
    background-color: red;
    color: #FFF;
    padding: 5px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
.gridCon .grid .four span{
    display: block;
}
.gridCon .grid .post{
    padding: 10px 20px;
}
.gridCon .grid .post input{
    display: block;
    padding: 13px;
    width: 90%;
    margin: 10px 0;
    border:1px solid #D8D8D8;
}
.gridCon .grid .post span{
    position: relative;
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #D8D8D8;
}
.gridCon .grid .post span img{
    width: 80px;
    border-radius: 50%;
}
.gridCon .grid .post span em{
    position: absolute;
    right: 0%;
}
.gridCon .grid .post span b{
    font-size: 17px;
    display: block;
    margin: 0 10px;   
}
.gridCon .grid .post .postPic{
    /* width:97%; */
    margin:auto;
    box-shadow: none;
}
.gridCon .grid .post .postPic img{
    width: 47%;
    margin: 0 5px;
}
.gridCon .grid .post button{
    margin: 10px;
}
.gridCon .grid .post .pic{
    display: block;
    width: 100%;
}
.gridCon .grid .events{
    text-align: center;
    padding:10px 0;
}
.gridCon .grid .events span img{
    width: 90%;
}
.gridCon .grid .events b{
    display: block;
}
.gridCon .grid .request{
    text-align: center;
}
.gridCon .grid .request span img{
    width: 35%;
}
.gridCon .grid .request button{
    margin: 5px 0;
    width: 70px;
    border-radius: 3px;
}
.gridCon .grid .request button:hover{
    background-color: #026186;
}
.gridCon .grid .request .yes{
    background-color: rgb(169, 248, 169);
}
.gridCon .grid .request .no{
    background-color: rgb(240, 80, 80);
}
.gridCon .grid .ad,.gridCon .grid .box{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}