body{
    margin: 0;
    width: 100%;
}
section{
    margin:20px 0;
}
.top-bar{
    background-color: #000;
    display:flex;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;
}
.top-bar .logo img{
    width: 75px;
}
.search-box{
    display:none;
}
.drp-nav .nav-content{
    display:none;
    position: absolute;
    z-index: 1;
    right: 0%;
    top: 10%;
    background-color: goldenrod;
    list-style: none;
    padding: 0px;
}
.drp-nav .nav-content li{
    margin:20px 9em 20px 15px;
}
.drp-nav .nav-content li a{
    color: white;
    text-decoration: none;
    font-size: 17px;

}
.drp-nav .drp-btn{
    position: absolute;
    right: 5%;
    background-color: goldenrod;
    padding: 0 5px;
    font-size: 25px;
    border: none;
}
.drp-nav .drp-btn:hover{
    background-color: gray;
}
.drp-nav:hover .nav-content{
    display: block;
}
.drp-nav .drp-btn hr{
    width: 15px;
    margin: 5px;
    height: 2px;
    background-color: white;
    border: none;
}
.top-img{
    position: relative;
}
.top-img .img-con img{
    width: 100%;
    filter: brightness(55%);
}
.top-img .caption{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform:translate(50%,-50%);
    width: 100%;
}
.top-img .caption h2{
    font-size: 16px;
}
.top-img .caption h1{
    color: goldenrod;
    font-size: 20px;
}
.top-img .caption .btns button{
    background-color:rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 15px;
    border: none;
    display: none;
}
.top-img .caption .btns .prev{
    float: left;
}
.top-img .caption .btns .next{
    float: right;
}
.top-img .caption .relocate button{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid white;
    padding: 15px;
    margin: 10px;
    width: 130px;
}
.top-img .caption .relocate{
    position: relative;
}
#services {
    text-align: center;
}
#services .massages{
    width: 90%;
    margin: auto;
}
#services .massages .massage-list{
    position: relative;
    display: inline-block;
    width: 300px;
    margin: 4em 0 ;
    padding: 5em 10px 2em 10px;
    box-shadow: 2px 2px 6px 2px #D8D8D8;
}
#services .massages .massage-list img{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    right: 50%;
    display: block;
    transform: translate(50%);
}
#services .massages .massage-list h3{
    font-weight: 100;
    font-size: 25px;
}
#services .massages .massage-list p{
    line-height: 25px;
    font-size: 14px;
    width: 80%;
    margin: auto;
    color: gray;
}
#services .massages .massage-list hr{
    width: 45px;
    height: 2px;
    border: none;
    background-color: goldenrod;
}
#services .massages .massage-list button{
    padding:10px 18px;
    background-color: transparent;
    border: 1px solid goldenrod;
    margin-top: 20px;
    font-size: 12px;
}
#services .massages .massage-list button:hover{
    background-color: goldenrod;
    border-color: white;
    color: white;
}
.counter{
    position: relative;
}
.counter .counter-img img{
    width: 100%;
    filter: brightness(25%);
    height: 650px;

}
.counter .survey{
    width: 80%;
    height: 550px;
    margin:auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform:translate(50%,-50%);
    border: 2px solid white;
    padding: 20px 0;
}
.counter .survey ul{
    list-style: none;
    text-align: center;
    color: white;
}
.counter .survey ul li span{
    display: block;
    margin: 15px;
    font-size: 14px;
}
.counter .survey ul li .count{
    font-size: 55px;
    margin: 5px;
}
.counter .survey ul li hr{
    width: 50px;
    height: 2px;
    background-color: goldenrod;
    border: none;
}
.about-container{
    position: relative;
    overflow-x: hidden;
}
.about-container .about-img{
    width: 100%;
    position: relative;
}
.about-container .about-img::after{
    content: "";
    background-color: rgba(158, 156, 156, 0.4);
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;

}

.about-container .word-cover .about-word{
    position: absolute;
    top: 5%;
    text-align: center;
    border: 2px dashed white;
    margin: 0 10px;
    padding: 0 5px;
}
.about-container .word-cover .about-word div{
    margin: 20px 0;
    color: rgb(59, 59, 59);

}
.about-container .word-cover .about-word h3{
    color: black;
}
.about-container .word-cover .about-word:hover h3{
    color: goldenrod;
}
.about-container .word-cover .about-word h1{
    font-weight: 100;
    font-size: 30px;
    text-align: left;
}
.about-container .word-cover .about-word img{
    width: 60px;
    border-radius: 50%;
}
.testimonial-container{
    position: relative;
}
.testimonial-container img{
    width: 100%;
    filter: brightness(30%);
    height: 550px;
}
.testimonial-container .our-tes{
    position: absolute;
    top: 50%;
    right: 50%;
    transform:translate(50%,-50%);
    color: white; 
    width: 98%;
    text-align: center;  
}
.testimonial-container .our-tes blockquote{
    line-height: 30px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.testimonial-container .our-tes h2{
    color: goldenrod;
}
.testimonial-container .our-tes .pagination button{
    border: none;
    background-color: transparent;
    color: white;
}
.testimonial-container .our-tes .pagination .nav{
    display: inline-block;
    margin: 10px;
}
#our-blog{
    margin: 30px 0;
    text-align: center;
}
.our-blog .blog{
    width: 90%;
    margin:30px auto;
    position: relative;
}
.blog img{
    width: 100%;
}
 .our-blog .blog .blogOverlay{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    bottom: 0%;
    color: white;
    padding: 10px;
    width: calc(100% - 20px);
}
.our-blog .blog .blogOverlay .blogWord{
    border: 1px solid #bbbaba ;
    height: 100%;
}
.our-blog .blog .blogOverlay .blogWord img{
    width: 100px;
    display: none;
}
.our-blog .blog .blogOverlay .blogWord h2{
    color:goldenrod;
}
.our-blog .blog .blogOverlay .blogWord p{
    display: none;
}
.our-blog .blog .blogOverlay:hover{
    top: 0%;
    bottom: 0%;
}
.our-blog .blog .blogOverlay:hover p,.our-blog .blog .blogOverlay:hover img{
    display: block;
}
.our-blog .blog .blogOverlay:hover img{
    margin: 3em auto;
}
.our-blog .blog .blogOverlay .blogWord span{
    position: absolute;
    bottom: 10%;
} 
#gallery {
    text-align: center;
}
#gallery .galleryList{
    padding: 0;
    list-style: none;
}
#gallery .galleryList li{
    padding: 25px 0;
}
#gallery .galleryList li:hover{
    border-top: 1px solid goldenrod;    
    border-bottom: 1px solid goldenrod;
}
#gallery .galleryImages{ 
    display: grid;   
    grid-template-columns: repeat(4,1fr);
    gap: 0;
    width: 100%;
}
#gallery .galleryImages .galleryImg .main img{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    transition: transform 1s ;
}
#gallery .galleryImages .galleryImg{
    position: relative;
    overflow: hidden;
}
#gallery .galleryImages .galleryImg .main div{
    position: absolute;
    width: 100%;
    color: white;
    top: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
#gallery .galleryImages .galleryImg:hover .main img{
    transform: scale(1.4,1.4)rotate(-20deg);
}
#gallery .galleryImages .galleryImg:hover .main div{
    display: block;
}
#gallery .galleryImages .galleryImg:hover .main .main2 p{
    width: 20px;
    margin: 3px auto;
    font-size: 20px;
    font-weight: 900;
    padding: 0 3px;
    border: 3px solid goldenrod;
    border-radius: 50%;
}
#gallery .galleryImages .galleryImg:hover .main .main2 b{
    display: block;
    font-size: 13px;
    margin: 6px 0;
}
#gallery .galleryImages .galleryImg:hover .main .main2 em{
    font-size: 11px;
    display: block;
    margin: 6px 0;
    color: goldenrod;
}
#membership {
    margin: 0;
    padding: 10px 0;
    background-color: goldenrod;
    color: white;
    text-align: center;
}
#membership h1{
    margin: 5px 0;
    font-weight: 400;
}
#membership p{
    font-size: 16px;
}
#membership button{
    padding: 10px;
    margin: 10px;
    border:none;
    color: white;
    background-color:black ;
}
#membership button:nth-child(2){
    background-color: white;
    color: black;
}
#theTeam{
    text-align: center;
}
.teamPic{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.teamPic div{
    display: inline-block;
    width: 100%;
}
.teamPic div .pici{
    overflow: hidden;
}
.teamPic div img{
    width: 100%;
    transition: transform 1s;
}
.teamPic div img:hover{
    border: 2px solid goldenrod;
    transform: scale(1.3,1.3)rotate(-10deg);
}
.teamPic em{
    color: #D8D8D8;
}
.teamPic p{
    color: rgb(112, 111, 111);
    line-height: 25px;
    font-size: 17px;
}
